###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c5e409ddee0cc052a9962bfefe1dc450
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7
###< doctrine/doctrine-bundle ###

###> mongodb ###
MONGODB_SERVER=mongodb
MONGODB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=symfony_${APP_ENV}
MONGODB_USERNAME=symfony
MONGODB_PASSWORD=symfony
###< mongodb ###

###> redis ###
REDIS_URL=redis
REDIS_PORT=6379
###< redis ###

###> application ###
APP_NAME=Challenge
APP_DESCRIPTION="Lorem Ipsum"
APP_URL=localhost
CONTAINER_PATH=/var/www/symfony
UPSTREAM_PORT=80
DEFAULT_ACCESS_TOKEN=9876543210
###< application ###
