<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false">
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <!-- Manual execution order. -->
        <testsuite name="Application">
            <!-- Configure -->
            <file>tests/ConfigureTest.php</file>
            <!-- Controllers -->
            <file>tests/WebTest/Controllers/StateTest.php</file> 
            <file>tests/WebTest/Controllers/CityTest.php</file> 
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
